.CartaA1{
    background-image: url("../images/Rectangle.png");
    background-size: cover;
    width: 100%;
    margin: 0 auto;
    border-radius: 20px;
    position: relative;
    padding-bottom: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    
}
.cartaA1{
    position: relative;
    margin-top: 50px;
}
.sra{
    width: 15%;
    position: relative;
    margin-bottom: -70px;
    overflow: hidden;
}